
<div class="container-fluid p-0 h-100">
    <div class="col-lg-12 ">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="row no-gutters h-100">
                    <nz-page-header class="site-page-header" nzTitle="{{mode}} Transport" nzSubtitle="">
                        <nz-breadcrumb nz-page-header-breadcrumb>
                            <nz-breadcrumb-item ><a [routerLink]="['/dashboard/default']">Dashboard</a></nz-breadcrumb-item>
                            <nz-breadcrumb-item>
                                <a [routerLink]="['/transport']">Transports</a>
                            </nz-breadcrumb-item>
                            <nz-breadcrumb-item>{{mode}}</nz-breadcrumb-item>
                        </nz-breadcrumb>
                    </nz-page-header>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 ">
                <div class="row no-gutters button-list m-t-10 m-b-10">
                    <button (click)="back()" nz-button nzType="primary">
                        <i nz-icon nzType="left"></i>
                        Transport List
                    </button>
                </div>

            </div>
        </div>

        <div class="row no-gutters h-100">

            <div class="col-md-8 col-lg-7 col-xl-7 " *ngIf="(isLoading$ | async) === false">
                <form nz-form [formGroup]="transportForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter transport name">
                            <input nz-input formControlName="name" id="name" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter description">
                            <textarea nz-input placeholder="Autosize height based on content lines" formControlName="description" id="description" [nzAutosize]="{ minRows: 3 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Make</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <input nz-input formControlName="make" id="make" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Model</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <input nz-input formControlName="model" id="model" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Type</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <input nz-input formControlName="type" id="type" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="yearBuilt">Year Built</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-input-number  [nzMin]="1" [nzStep]="1" formControlName="yearBuilt" id="yearBuilt"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="seating">Seating</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-input-number  [nzMin]="1" [nzStep]="1" formControlName="seating" id="seating"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="costperHour">Cost Per Hour</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-input-number  [nzMin]="1" [nzStep]="1" formControlName="costperHour" id="costperHour"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="costperKm">Cost per Km</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-input-number  [nzMin]="1" [nzStep]="1" formControlName="costperKm" id="costperKm"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="seating">KM</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-input-number  [nzMin]="1" [nzStep]="1" formControlName="km" id="km"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="comments">Comments</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <textarea nz-input  formControlName="comments" id="comments" [nzAutosize]="{ minRows: 3 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="internalReference">Internal Reference</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <input nz-input formControlName="internalReference" id="internalReference" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="color">Color</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <input nz-input formControlName="color" id="color" nzSize="small" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bIntern">Intern</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-switch formControlName="bIntern" id="bIntern"  ></nz-switch>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bBooked">Booked</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-switch formControlName="bBooked" id="bBooked"  ></nz-switch>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bActive">Active</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                            <nz-switch formControlName="bActive" id="bActive"  ></nz-switch>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button type="submit" [nzLoading]="isSaving$ | async" class="login-form-button" [nzType]="'primary'"  >Save</button>
                            <button nz-button type="button" class="login-form-button m-l-10" [nzType]="'primary'" (click)="back()" >Cancel</button>
                        </nz-form-control>
                    </nz-form-item>


                </form>

            </div>

            <nz-skeleton *ngIf="isLoading$ | async"></nz-skeleton>
        </div>

    </div>

</div>
